**/.venv/
.DS_Store
.vscode

Team1/kane's model/data/dataset_50k_az.npz
Team1/kane's model/dataset50kgames.pgn
**/*.npz
**/*.pgn
**/*.pth
/Team2/__pycache__
game_examples.pkl

/Team2/*.pth
/tictactoe
Team2/model_files/sl_policy_value_bootstrap.pth
Team2/model_files/sl_policy_value_tool_test.pth
Team2/model_files/*bootstrap*.pth
Team2/model_files/*tool_test*.pth

**/*.pyc
.env
/Team2/runs